<!-- Validation failure messages -->
<% if @item.errors.any? %>
  <% @item.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Item #<%= @item.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_item/<%= @item.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Description
        </label>

        <input type="text" id="description" name="description" placeholder="Description" class="form-control" value="<%= @item.description %>">
      </div>

      <!-- Label and input for newlink -->
      <div class="form-group">
        <label for="newlink" class="control-label">
          Newlink
        </label>

        <input type="text" id="newlink" name="newlink" placeholder="Newlink" class="form-control" value="<%= @item.newlink %>">
      </div>

      <!-- Label and input for location -->
      <div class="form-group">
        <label for="location" class="control-label">
          Location
        </label>

        <input type="text" id="location" name="location" placeholder="Location" class="form-control" value="<%= @item.location %>">
      </div>

      <!-- Label and input for suggested_price -->
      <div class="form-group">
        <label for="suggested_price" class="control-label">
          Suggested price
        </label>

        <input type="text" id="suggested_price" name="suggested_price" placeholder="Suggested price" class="form-control" value="<%= @item.suggested_price %>">
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          <!-- User -->
        </label>

        <input type="hidden" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @item.user_id %>">
      </div>

      <button class="btn btn-warning">
        Update Item
      </button>
      or
      <a href="/items/<%= @item.id %>">Cancel</a>
    </form>
  </div>
</div>
