<!-- Validation failure messages -->
<% if @item_tag.errors.any? %>
  <% @item_tag.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Item Tag #<%= @item_tag.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_item_tag/<%= @item_tag.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for tags_id -->
      <div class="form-group">
        <label for="tags_id" class="control-label">
          Tags
        </label>

        <input type="text" id="tags_id" name="tags_id" placeholder="Tags" class="form-control" value="<%= @item_tag.tags_id %>">
      </div>

      <!-- Label and input for item_id -->
      <div class="form-group">
        <label for="item_id" class="control-label">
          Item
        </label>

        <input type="text" id="item_id" name="item_id" placeholder="Item" class="form-control" value="<%= @item_tag.item_id %>">
      </div>

      <button class="btn btn-warning">
        Update Item Tag
      </button>
      or
      <a href="/item_tags/<%= @item_tag.id %>">Cancel</a>
    </form>
  </div>
</div>
