<div class="page-header">
  <h3>Item Tag #<%= @item_tag.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Tags</dt>
      <dd><%= @item_tag.tags_id %></dd>

      <dt>Item</dt>
      <dd><%= @item_tag.item_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/item_tags" class="btn btn-primary">
        Back
      </a>
      <a href="/item_tags/<%= @item_tag.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_item_tag/<%= @item_tag.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
